#header .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
	#header .background .overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("images/overlay.png");
		background-repeat: repeat;
		background-size: cover;
		pointer-events: none;
	}
#header #background-video { /*For ANIMATED BACKGROUND*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}